#matches-table-view .table-responsive {
  overflow-x: hidden;
  overflow-y: inherit;
  border: none;
}

#matches-table-view table tbody th {
  white-space: nowrap;
}

#matches-table-view tbody > tr > td {
  text-align: center;
}

#matches-table-view tbody > tr > td:last-child {
  border-right: 2px solid #ddd;
}

#matches-table-view .strike-through {
  background-color: #eaeaea;
}

@media screen and (max-width: 767px) {
  #matches-table-view .table-responsive {
    overflow-x: inherit;
  }

  #matches-table-view tbody > tr > th:first-child {
    border-left: 1px solid #ddd;
  }

  #matches-table-view tbody > tr > td:last-child {
    border-right: 1px solid #ddd;
  }

  #matches-table-view tbody > tr:last-child > td, #matches-table-view tbody > tr:last-child > th {
    border-bottom: 1px solid #ddd;
  }
}
