<div id="matches-table" class="table-responsive">
  <table class="table table-bordered table-striped table-condensed table-header-rotated">
    <thead>
      <tr>
        <th>
          <!-- Top left cell -->
        </th>
        <th ng-repeat="standing in ::matchesTableCtrl.standings">
          <div><span><a ui-sref="app.team({teamId: standing.team.id})">{{::standing.team.name}}</a></span></div>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="rowStanding in ::matchesTableCtrl.standings"
          ng-init="rowTeam = rowStanding.team">
        <th>
          <span><a ui-sref="app.team({teamId: rowStanding.team.id})">
            {{::rowTeam.name.length > 17 ? (rowTeam.name | limitTo: 16) : rowTeam.name}}{{::rowTeam.name.length > 17 ? '&hellip;' : ''}}
          </a></span>
        </th>
        <td ng-repeat="columnStanding in ::matchesTableCtrl.standings"
            ng-init="columnTeam = columnStanding.team;
                     match = matchesTableCtrl.getMatchByTeams(rowTeam, columnTeam)"
            ng-class="::{'strike-through': rowTeam.id === columnTeam.id}"
          >
          <span ng-if="::rowTeam.id !== columnTeam.id && match.hasResults">
            {{::matchesTableCtrl.getMatchGoalsByTeam(match, rowTeam)}}
            -
            {{::matchesTableCtrl.getMatchGoalsByTeam(match, columnTeam)}}
          </span>
        </td>
      </tr>
    </tbody>
  </table>
</div>
